{% extends 'base.html.twig' %}

{% block body %}
<main>
    <section class="rubrique d-flex flex-column" id="concept">
        <div class="row custom-bg-secondary">
            <div class="d-flex flex-column justify-content-center text-dark py-4">
                <h2 class="text-center mb-2 custom-font-brand">Captain Pizza</h2>
                <p class="text-center mb-2">Pizzas artisanales cuites au feu de bois</p>
                <p class="text-center mb-2">À emporter à Maureillas ou en livraison dans le Bas-Vallespir</p>
                <p class="text-center mb-0">Commande au <a class="text-dark" href="tel:+33611418444">06 11 41 84 44</a></p>
            </div>
        </div>
        <div class="row">
            <aside class="col-4 d-flex flex-column justify-content-center p-0">
                <img src="../img/logo.png" class="img-fluid" alt="Logo Captain Pizza">
            </aside>
            <article class="col-8 d-flex flex-column justify-content-center p-0">
                <img src="../img/pizza_feu_de_bois_resized.jpg" class="img-fluid" alt="Pizza dans un four à bois" id="pizzaFeuBois">
            </article>
        </div>
    </section>
    <section class="rubrique min-vh-100 d-flex flex-column" id="carte">
        <h2 class="text-center text-dark mb-4 pt-3 custom-font-brand">Carte</h2>
        <ul class="nav nav-pills d-flex justify-content-center" id="carteTabs" role="tablist">
            <li class="nav-item me-4 mb-4 p-0" role="presentation">
                <button class="nav-link rounded-pill text-dark active" id="base-tomate-tab" data-bs-toggle="tab" data-bs-target="#base-tomate-tab-pane" type="button" role="tab" aria-controls="base-tomate-tab-pane" aria-selected="true">Bases tomate</button>
            </li>
            <li class="nav-item me-4 mb-4 p-0" role="presentation">
                <button class="nav-link rounded-pill text-dark" id="base-creme-tab" data-bs-toggle="tab" data-bs-target="#base-creme-tab-pane" type="button" role="tab" aria-controls="base-creme-tab-pane" aria-selected="false">Bases crème</button>
            </li>
            <li class="nav-item me-4 mb-4 p-0" role="presentation">
                <button class="nav-link rounded-pill text-dark" id="base-autre-tab" data-bs-toggle="tab" data-bs-target="#base-autre-tab-pane" type="button" role="tab" aria-controls="base-autre-tab-pane" aria-selected="false">Autres bases</button>
            </li>
            <li class="nav-item me-4 mb-4 p-0" role="presentation">
                <button class="nav-link rounded-pill text-dark" id="captains-tab" data-bs-toggle="tab" data-bs-target="#captains-tab-pane" type="button" role="tab" aria-controls="captains-tab-pane" aria-selected="false">Captains</button>
            </li>
            <li class="nav-item mb-4 p-0" role="presentation">
                <button class="nav-link rounded-pill text-dark" id="drinks-tab" data-bs-toggle="tab" data-bs-target="#drinks-tab-pane" type="button" role="tab" aria-controls="drinks-tab-pane" aria-selected="false">Boissons</button>
            </li>
        </ul>
        <div class="tab-content d-flex justify-content-center" id="carteTabsContent">
            <div class="tab-pane fade show active" id="base-tomate-tab-pane" role="tabpanel" aria-labelledby="base-tomate-tab" tabindex="0">
                <div class="d-flex justify-content-end">
                    <p class="text-dark">26cm | 33cm</p>
                </div>
                <ul>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">MARGARITA</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, avec ou sans épices aromatiques</p>
                            <p class="text-dark">8€ | 10€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-secondary">REGINA</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Jambon, Champignons</p>
                            <p class="text-dark">10€ | 12€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">CHORIZO <i class="icofont-fire-alt"></i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Chorizo, Poivrons</p>
                            <p class="text-dark">10€ | 12€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-secondary">CAMPAGNARDE</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Lardons, Oignons, Crème fraîche</p>
                            <p class="text-dark">10€ | 12€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">CIVIL WAR <i class="icofont-not-allowed"></i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Jambon, Ananas</p>
                            <p class="text-dark">10€ | 12€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-secondary">CATALANE <i class="icofont-fish"></i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Miettes de thon, Oignons, Poivrons</p>
                            <p class="text-dark">10€ | 12€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">CALZONE</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Jambon, Champignons, Oeuf, repliée en chausson</p>
                            <p class="text-dark">12€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-secondary">5 FROMAGES</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Chèvre, Roquefort, Morbier</p>
                            <p class="text-dark">12€ | 14€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">BRIARDE</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Brie, Lardons, Oignons</p>
                            <p class="text-dark">12€ | 14€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-secondary">WAÈL <i class="icofont-heart"></i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Fromage à raclette, Roquefort, Jambon</p>
                            <p class="text-dark">12€ | 14€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">ORIENTALE <i class="icofont-fire-alt"></i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Harissa, Merguez, Oignons</p>
                            <p class="text-dark">12€ | 14€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-secondary">VÉGÉTARIENNE <i class="icofont-leaf"></i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Champignons, Poivrons, Oignons, Artichauts</p>
                            <p class="text-dark">12€ | 14€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">PAYSANNE</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Lardons, Champignons, Chèvre, Poivrons, Oignons</p>
                            <p class="text-dark">12€ | 14€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-secondary">MAGRET</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Magret de canard, Figues séchées, Pommes de terre</p>
                            <p class="text-dark">14€ | 16€</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="base-creme-tab-pane" role="tabpanel" aria-labelledby="base-creme-tab" tabindex="0">
                <div class="d-flex justify-content-end">
                    <p class="text-dark">26cm | 33cm</p>
                </div>
                <ul>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">CAPTAIN SOHAN <i class="icofont-heart"></i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Crème, Emmental, Mozzarella, Lardons, Brie</p>
                            <p class="text-dark">10€ | 12€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-secondary">CHÈVRE MIEL <i class="icofont-leaf"></i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Crème, Emmental, Mozzarella, Chèvre, Miel</p>
                            <p class="text-dark">10€ | 12€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">MORBIER</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Crème, Emmental, Mozzarella, Lard, Morbier</p>
                            <p class="text-dark">12€ | 14€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-secondary">MONTAGNARDE</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Crème, Emmental, Mozzarella, Lard, Pommes de terre, Fromage à raclette</p>
                            <p class="text-dark">12€ | 14€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">ROUERGAT</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Crème, Emmental, Mozzarella, Roquefort, Pommes de terre, Lardons</p>
                            <p class="text-dark">12€ | 14€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-secondary">INDIENNE <i class="icofont-fire-alt"></i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Crème, Emmental, Mozzarella, Poulet, Poivrons, Curry</p>
                            <p class="text-dark">12€ | 14€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">BALTIQUE <i class="icofont-fish"></i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Crème, Emmental, Mozzarella, Saumon fumé, Jus de citron</p>
                            <p class="text-dark">14€ | 16€</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="base-autre-tab-pane" role="tabpanel" aria-labelledby="base-autre-tab" tabindex="0">
                <div class="d-flex justify-content-end">
                    <p class="text-dark">26cm | 33cm</p>
                </div>
                <ul>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">PROVENÇALE</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base aïoli/crème, Emmental, Mozzarella, Jambon, Champignons</p>
                            <p class="text-dark">10€ | 12€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-secondary">OCCITANE</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base aïoli/crème, Emmental, Mozzarella, Lardons, Poivrons</p>
                            <p class="text-dark">12€ | 14€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">PESTO RICO <i class="icofont-heart"></i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Pesto vert, Emmental, Mozzarella, Lardons, Ricotta, Oignons frits</p>
                            <p class="text-dark">12€ | 14€</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="captains-tab-pane" role="tabpanel" aria-labelledby="captains-tab" tabindex="0">
                <p class="row mt-4 text-center text-dark">Venez découvrir le CAPTAIN, un sandwich avec pâte à pizza garnis à l'intérieur et au dessus</p>
                <ul>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">REGINA</i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Jambon, Champignons</p>
                            <p class="text-dark">6€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-secondary">4 FROMAGES</i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Tomate, Emmental, Mozzarella, Chèvre, Roquefort</p>
                            <p class="text-dark">6€</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">PESTO RICOTTA</i></h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Base Pesto vert, Emmental, Mozzarella, Pesto, Ricotta</p>
                            <p class="text-dark">6€</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="drinks-tab-pane" role="tabpanel" aria-labelledby="drinks-tab" tabindex="0">
                <ul>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-primary">Coca Cola</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Bouteille de 1L</p>
                            <p class="text-dark">2 €</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Bouteille de 2L</p>
                            <p class="text-dark">3 €</p>
                        </div>
                    </li>
                    <li class="row mt-4">
                        <h4 class="text-center custom-text-secondary">Vin</h4>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Bouteille de 25cL</p>
                            <p class="text-dark">6 €</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-dark">Bouteille de 75cL</p>
                            <p class="text-dark">10 €</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock %}
