@font-face {
    font-family: 'Umbrage2';
    src: url('/fonts/umbrage2-webfont.woff') format('woff'),
         url('/fonts/umbrage2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custom-bg-primary {
    background-color: orangered;
}

.custom-bg-secondary {
    background-color: greenyellow;
}

.custom-text-primary {
    color: orangered;
}

.custom-text-secondary {
    color: greenyellow;
}

.custom-font-brand {
    font-family: "Umbrage2";
}

.navbar {
    height: 4rem;
}

.rubrique {
    padding-top: 4rem;
}

#carte .nav-pills .nav-link {
    outline: 2px solid greenyellow;
}

#carte .nav-pills .nav-link.active {
    background-color: greenyellow;
    outline: 2px solid black;
}

.footer {
    height: 3rem;
    line-height: 3rem;
    /* margin-top: -3rem; */
}